In [3]:
print("+-------------+")
print("|LEE CHONG WEI|")
print("+-------------+")

+-------------+
|LEE CHONG WEI|
+-------------+

In [9]:
print("  //////")
print(" | 째 째 |")
print("(|  ^  |)")
print(" | [_] |")
print("  -----")

  //////
 | 째 째 |
(|  ^  |)
 | [_] |
  -----

In [11]:
print("FFFFFFF  U     U  NN    NN")
print("FF       U     U  NNN   NN")
print("FFFFFFF  U     U  NN N  NN")
print("FF        U   U   NN  N NN")
print("FF         UUU    NN   NNN")

FFFFFFF  U     U  NN    NN
FF       U     U  NNN   NN
FFFFFFF  U     U  NN N  NN
FF        U   U   NN  N NN
FF         UUU    NN   NNN

In [12]:
print("+---+---+---+")
print("| X |   | O |")
print("+---+---+---+")
print("|   | X | O |")
print("+---+---+---+")
print("|   |   | O |")
print("+---+---+---+")

+---+---+---+
| X |   | O |
+---+---+---+
|   | X | O |
+---+---+---+
|   |   | O |
+---+---+---+

In [19]:
print("x"   "\t" + "x^2" + "\t" + "x^3")
x = 1
print(str(x)+"\t" + str(pow(x,2)) + "\t" + str(pow(x,3)))
x = 2
print(str(x)+"\t" + str(pow(x,2)) + "\t" + str(pow(x,3)))
x = 3
print(str(x)+"\t" + str(pow(x,2)) + "\t" + str(pow(x,3)))
x = 4
print(str(x)+"\t" + str(pow(x,2)) + "\t" + str(pow(x,3)))

x	x^2	x^3
1	1	1
2	4	8
3	9	27
4	16	64

In [20]:
result = ((9.5 * 4.5 - 2.5 / 3) / (45.5 - 3.5))
print(result)

0.9980158730158729

In [24]:
name = input("Enter a name:")
age = input("Enter an age: ")
print(name , "is" , age , "years old now." )

Enter a name: Lee Chong Wei
Enter an age:  41

Lee Chong Wei is 41 years old now.

In [28]:
celsius = int(input("Enter a degree in Celsius:"))
fahrenheit = ((9/5) * celsius + 32)
print(celsius, "Celsius is", fahrenheit , "Fahrenheit.")

Enter a degree in Celsius: 43

43 Celsius is 109.4 Fahrenheit.

In [37]:
import math
PI = math.pi
radius = int(input("Enter a radius of a cylinder:"))
height = int(input("Enter a height of a cylinder:"))


surfacearea =(2 * PI * radius * height + 2 * (PI) * radius * radius)
volume = ((PI) * radius * radius * height )
print("Its surface area and volume are" , surfacearea, "and" , volume , "respectively.")

Enter a radius of a cylinder: 3
Enter a height of a cylinder: 5

Its surface area and volume are 150.79644737231007 and 141.3716694115407 respectively.

In [40]:
num = int(input("Enter a number between 0 and 100:"))
x = int((num%10))
y = int((num%100)/10)
z = int((num%1000)/100)
final = x+y+z
print("The sum of the digits is" , final)

Enter a number between 0 and 100: 999

The sum of the digits is 27

In [42]:
number = int(input("Enter a number between 0 and 100:"))

divisor = 10

digit1 = number % divisor

number = number // divisor

digit10 = number % divisor

number = number // divisor

digit100 = number % divisor

sum = digit1 + digit10 + digit100

print("The sum of the digits is" , sum)

Enter a number between 0 and 100: 999

The sum of the digits is 27

In [49]:
mon1 = 0.05
mon2 = mon1/12

base = 100

total = base* (1+mon2)
total = (total+base) *(1+mon2)
total = (total+base) *(1+mon2)
total = (total+base) *(1+mon2)
total = (total+base) *(1+mon2)
total = (total+base) *(1+mon2)

print("After the sixth month, the account value is" , round(total,2))

After the sixth month, the account value is 608.81

In [54]:
print("Equation 1: ax + by = e")
print("Equation 2: cx + dy = f")

print("Enter a numerical value for each of the following 6 variables:")
a = input("a =")
b = input("b =")
e = input("e =")
c = input("c =")
d = input("d =")
f = input("f =")

print("Equation 1:", a + "x +", b+ "y =" ,e)
print("Equation 2:", c + "x +", d+ "y =" ,f)

Equation 1: ax + by = e
Equation 2: cx + dy = f
Enter a numerical value for each of the following 6 variables:

a = 3.4
b = 50.2
e = 44.5
c = 2.1
d = 0.55
f = 5.9

Equation 1: 3.4x + 50.2 y = 44.5